.logoNavBar{
    width: 50%;
}
.logoNavBar img{
    width:13%;
    object-fit: cover;
    height: 70px;
    border-radius: 300px;
}
@media all and (max-width: 	600px){
    .logoNavBar{
        width: 16%;
    }
    .logoNavBar img{
        width:124%;
        object-fit: cover;
        height: 70px;
        border-radius: 300px;
    }
}
@media all and (min-width: 	601px) and (max-width: 991px){
    .logoNavBar{
        width: 50%;
    }
    .logoNavBar img{
        width:21%;
        object-fit: cover;
        height: 70px;
        border-radius: 300px;
    }
}